*{
    margin: 0;
    padding: 0;
}
body{
   padding: 20px;
   text-align: center;
   background-color: rgb(220, 231, 167);
    
}

.jumbotron{
    background-color: #697e4d;
    border-radius: 20px;
}
p{
    color: rgb(235, 235, 243);
    font-weight: bold;
}
.jumbotron a{

    color: rgb(10, 153, 74);
    background-color: aquamarine;
    border-radius: 25px;
    cursor: pointer;
}


#T_001{
    background-color:cyan;
    text-align: center;
    border-radius: 30px;
    color: blue;
    padding: 10px;

}
#foto_prof{
    font-size: 40px;
    padding: 10px ;
    color: darkgoldenrod;
    letter-spacing: 10px;
    border:1px solid #73AD21;
    border-radius: 30px;

   
}
